body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ddd;
}

.piano {
    position: relative;
    display: flex;
}

/* white keys */

.white {
    width: 80px;
    height: 260px;
    background: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* black keys */

.black {
    position: absolute;
    width: 50px;
    height: 160px;
    background: black;
    color: white;
    text-align: center;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    font-size: 14px;
}

/* black key positions */

.csharp {
    left: 55px;
}

.dsharp {
    left: 135px;
}

.fsharp {
    left: 295px;
}

.gsharp {
    left: 375px;
}

.asharp {
    left: 455px;
}